@import 'fonts.css';

:root {
  --color-black: #000;
  --color-white: #fff;
  --light-blue: #38e2ff;
  --light-purple: #ff9fff;
  --ff-content: 'Work Sans', sans-serif;
  --fs-heading: clamp(2rem, 4vw, 3rem);
  --lh-heading: clamp(2.2rem, 4vw, 3.2rem);
  --fs-text: clamp(1.1rem, 4vw, 1.5rem);
  --lh-text: clamp(1.6rem, 4vw, 2rem);
  --text-shadow: -2px 3px 3px rgba(0, 0, 0, 0.3);
  --max-width: 90rem;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100dvh;
  margin: 0;
  padding: 0;
  background: linear-gradient(
    45deg,
    var(--color-white) 0%,
    var(--light-purple) 30%,
    var(--light-blue) 100%
  );
  font-family: var(--ff-content);
}

/* Background styles */
.FB-Background {
  position: absolute;
  inset: 0;
  overflow: hidden;
  z-index: -1;
}

/* Bubbles Animation */
@keyframes float {
  0% {
    bottom: calc(var(--bubble-size) * -1);
    transform: translateX(0px);
  }
  100% {
    bottom: 1000px;
    transform: translateX(50px);
  }
}

.FB-Bubble {
  --bubble-size: 100px;
  --bubble-position: 50%;
  --animation-duration: 10s;
  width: var(--bubble-size);
  height: var(--bubble-size);
  border-radius: 50%;
  position: absolute;
  left: var(--bubble-position);
  bottom: calc(var(--bubble-size) * -1);
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 25px var(--light-blue) inset;
  transform: translateY(calc(var(--bubble-size) + var(--bubble-size) * 0.3));
  animation: float var(--animation-duration) infinite ease-in;

  &::before {
    content: '';
    width: calc(var(--bubble-size) * 0.4);
    height: calc(var(--bubble-size) * 0.2);
    margin-block-start: 10px;
    margin-inline-start: 25px;
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    rotate: -20deg;
  }
}

/* End Background styles */

.FB-Section {
  width: min(85dvw, var(--max-width));
  margin-block: 0;
  margin-inline: auto;
  display: grid;
  justify-items: center;
  align-items: center;
}

.FB-Heading {
  font-size: var(--fs-heading);
  line-height: var(--lh-heading);
  text-shadow: var(--text-shadow);
  text-align: center;
}

.FB-Paragraph {
  font-size: var(--fs-text);
  line-height: var(--lh-text);
}
